{
  "extends": ["@callstack/eslint-config/node", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "quotes": [2, "single", { "avoidEscape": true }],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": true
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": ["tsconfig.json", "src"]
      }
    }
  }
}
